*.tmp
*.pyc
*_pep99.xlsx
homology_*.pkl
ih_mut_custom*.fasta
custom_*.fasta
*_genes.fasta
*_proteome.fasta
xle*.pkl
*_stats.xlsx
*_nsp_homology.pkl
*.ods
*.xlsx
*.txt
*.gbff
*.gbk
*.gb
*.svg
*.png
*.lock
.Rhistory

